.button{
  padding: 0;
  background: none;
  border: none;
  font: $button-lg-font;
  text-transform: uppercase;
  letter-spacing: .5px;
  border-radius: 2px;

  + .button{
    margin-left: 8px;
  }
}

@each $type, $width, $height in $buttonSizes{
  .btn-#{$type}{
    @if$type == 'padding'{
      padding: 0 16px;
    }
    width: $width;
    height: $height;
  }
}

@each $style in $btnStyles{
  .btn-#{$style}{ //basic-btn -style across same button type
    @if $style == "border"{
      background-color: $bg-workspace-grey;
      &:hover{
        background-color: $bg-workspace-black;
      }
      &:active{
        background-color: $bg-main-black;
      }
      &:disabled{
        background-color: $bg-workspace-grey;
      }
    }
    @elseif $style == "fill"{
      // &:disabled{
      //   background: $bg-separation-black;
      // }
    }
    @else {}

    @each $color, $value in $btnColors{
      &.btn-#{$color}{  //basic-btn.green-btn - style across same button type and color
        transition: all 0.3s ease;

        @if $style == "border"{
          border: 1px solid map-get($value, action);
          color: map-get($value, action);

          &:disabled{
            border: 1px solid map-get($value, disabled-text-color);
            color: map-get($value, disabled-text-color);
          }
        }
        @elseif $style == "fill"{
          background: map-get($value, action);
          color: map-get($value, default-text-color);

          &:hover{
            background: map-get($value, highlight);
          }

          &:active{
            background: map-get($value, focus);
          }

          &:disabled{
            color: map-get($value, disabled-text-color);
            background: $bg-separation-black;
          }
        }
        @else{
          color: map-get($value, action);

          &:hover{
            color: map-get($value, highlight);
          }

          &:active{
            color: map-get($value, focus);
          }

          &:disabled{
            color: map-get($value, disabled-text-color);
          }
        }
      }
    }
  }
}
