.game-block{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &.pre-game{

    .form-group{

      input{
        background-color: $bg-input-grey;
        border: 1px solid $disabled-blue;
        color: $main-text-color;
      }

      &:nth-child(1){
        label{
          font: $label-font;
        }
      }

      &:nth-child(2){
        text-align: center;
        flex: 1;
      }

      &:nth-child(3){
        text-align: center;
      }
    }
  }

  &.run-game{}

  &.end-game{

  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
