// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
@import "variables.scss";


body{
  height: 100vh;
  margin: 0;
  background-color: $bg-main-black;
}

h1{
  font: $header1-font;
  font-size: 2.5rem;
  color: $main-text-color;
}

h2{
  margin-bottom: 0;
  font: $header2-font;
  color: $unfocused-text-color;
}

h3{
  margin-bottom: 0;
  font: $header3-font;
  color: $main-text-color;
  text-transform: uppercase;
}

h4{
  font: $header4-font;
  color: $main-text-color;
}

.table{
  margin-top: 5%;

  thead{

    th{
      font: $header3-font;
      color: $main-text-color;
      text-align: center;
      border-bottom: 1px solid $disabled-text-color;
    }
  }

  tbody{
    td{
      padding: 0 .3rem;
      font: $body-lg-font;
      color: $focus-blue;
      text-align: center;
      border-top: none;

      &:first-child{
        text-align: center;
      }
    }
  }
}

.header-block,
.main-block,
.footer-block{
  margin: 0 1rem;
}

.header-block{
  flex: 0 0 20%;
  align-items: center;
  justify-content: center;
}

.main-block{
  flex: 1 1 auto;
  // margin: auto;
  // min-width: 288px;
}

.inner-block{
  position: relative;
  flex: 1;
  // margin: auto;
  max-width: 60vh;
  transform: translate(-50%, 0);
  left: 50%;
}

.info-block{
  display: flex;
  margin: 2px 0 1rem 0;
  align-items: center;
  justify-content: space-between;

  > span{
    font: $header2-font;
    color: $unfocused-text-color;
    transition: color .15s ease-in-out;

    &.warning{
      color: $highlight-red;
    }
  }
}

.footer-block{
  flex: 0 0 20%;
  align-items: center;
  justify-content: center;
  color: $unfocused-text-color;

  p{
    margin: 0;
  }
}

.game-block{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &.pre-game{

    .form-group{

      input{
        background-color: $bg-input-grey;
        border: 1px solid $disabled-blue;
        color: $main-text-color;
      }

      &:nth-child(1){
        label{
          font: $label-font;
        }
      }

      &:nth-child(2){
        text-align: center;
        flex: 1;
      }

      &:nth-child(3){
        text-align: center;
      }
    }
  }

  &.run-game{}

  &.end-game{

  }
}

.mole-container{
  overflow: hidden;
  padding-top: 33%;
  flex: 1 33%;
  border: 1px solid $focus-blue;
  transition: padding-top .15s ease-in-out;

  div{
    height: 100%;
    background:  url('../images/mole.png') no-repeat;
    background-size: cover;
  }

  &.active{
    padding-top: 0;

    div{

    }
  }
}

.overlay-block{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $bg-workspace-grey;
  border: 2px solid $action-red;
  border-radius: 4px;

  .overlay-inner-block{
    margin: 0 12px;
    flex: 1;
  }

  .header-block,
  .body-block,
  .footer-block{
    // margin: 0;
  }

  .header-block,
  .footer-block{
    flex-basis: 20%;
  }

  .body-block{
    flex: 1;
  }

  .footer-block{
    align-items: flex-start;
    text-align: center;
  }

  label{
    color: $main-text-color;
  }

  &.pre-game{

    .overlay-inner-block{
      margin: 0 23px;
    }
  }
}

.progress-block{
  text-align: center;

  p{
    margin-bottom: 4px;
    font: $label-sm-font;
  }

  .progress-bar{
    height: 4px;
    background-color: $action-blue;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .table{
    tbody{
      td{
        padding: .25rem;
      }
    }
  }

  .header-block,
  .main-block,
  .footer-block{
    // margin: 0 12%;
  }

  .header-block{
    flex-basis: 20%;

    h1{
      font-size: 4.5rem
    }
  }

  .main-block{
  }

  .overlay-block{
    .footer-block{
      align-items: center;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
